<body>
  <header>
    <div class="HorizontalMenu">
      <ul>
        <li class="Home"><a href="index.html">Home</a></li>
        <li class="Dashboard"><a href="/dashboard" class= {{active_dash}}>Dashboard</a></li>
        <li class="Profile"><a href="/profile" class = {{active_profile}}>Profile</a></li>
        <li class="Search"><a href="/search" class = {{active_search}}>Search</a></li>
      </ul>
    </div>
  </header>
