<div class="content">

  <div class="squeeze">
    <div class="box-wrap clear">
      {{#each feed}}

      <div class="box">

        <img src="{{this.images.standard_resolution.url}}" kalt = "" />

        <div class="group-btn lk-clear">
            <button class="btn accent-1 pull--left">Likes: {{this.likes.count}}</button>
            <button class="btn accent-1 pull--right">comm.: {{this.comments.count}}</button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>


</div>

      {{!</div>
      <div class="box">
        <img src="http://placehold.it/300x200" />
        <div class="group-btn lk-clear">
          <button class="btn accent-1 pull--left">Love it!</button>
          <button class="btn accent-1 pull--right">Hate it!</button>
        </div>
      </div>
      <div class="box">
        <img src="http://placehold.it/300x200" />
        <div class="group-btn lk-clear">
          <button class="btn accent-1 pull--left">Love it!</button>
          <button class="btn accent-1 pull--right">Hate it!</button>
        </div>
      </div>
      <div class="box">
        <img src="http://placehold.it/300x200" />
        <div class="group-btn lk-clear">
          <button class="btn accent-1 pull--left">Love it!</button>
          <button class="btn accent-1 pull--right">Hate it!</button>
        </div>
      </div>
      <div class="box">
        <img src="http://placehold.it/300x200" />
        <div class="group-btn lk-clear">
          <button class="btn accent-1 pull--left">Love it!</button>
          <button class="btn accent-1 pull--right">Hate it!</button>
        </div>
      </div>
      <div class="box">
        <img src="http://placehold.it/300x200" />
        <div class="group-btn lk-clear">
          <button class="btn accent-1 pull--left">Love it!</button>
          <button class="btn accent-1 pull--right">Hate it!</button>
        </div> }}
