/* *****************/
/* Search page CSS */
/* *****************/

  .results {
    margin-top: 10px;
  }
  /* saved searches title & div formatting */
  .saved {
    float: left;
    width: 180px !important;
    margin: 10px 10px 0 10px; /*top, right, bottom, left */
    font-size: 12px;
    height: 100%;
  }
  /* saved searches item formatting */
  .searches a{
    text-decoration: none;
    margin-left: 10px;
    line-height: 1.4;
    font-size: 20px;
    color: black;
  }
  /* saved searches border */
  .border {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 190px;
    height: auto;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #444;
  }
  .SearchBox {
    float: right;
    width: 230px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .content {
    margin-left: 190px;
  }
