/*General Page Syling*/
body {
  background-color: white;
  margin: 0;  /*gets rid of default margins/padding on page*/
  padding: 0;
}

/*Title Header*/
.title {
  margin-top: 0;
  text-align: center;
  border-bottom: none;
  font-size: 1em;
  background-color: #444;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}


/*General*/
.box-outer {
  width: 100%;
<<<<<<< HEAD
  margin-top: 8%;
=======
  margin-top: 10%;
>>>>>>> 45073695956007eb2ced745ff0816a208f57c5e8
}

.box {
  position: relative;
  text-align: center;
  border: 1px solid black;
  width: 570px;
  height: 300px;;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #444;
}

/*Buttons*/
.buttons{
  position: absolute;
<<<<<<< HEAD
  bottom: 40;
=======
  bottom: 40px;
>>>>>>> 45073695956007eb2ced745ff0816a208f57c5e8
  left: 185px;
}

.buttons a{
  background-color: #444;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border: 1px solid #888;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  width: 200px;
}

.login {
  margin: auto;
  margin-bottom: 10px;
}

.register {
  margin: auto;
}

.box a:hover {
  background-color: #005f5f;
}

.box a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

/*Box Text*/
.greeting{
  font-family: 'Oswald', sans-serif;
  font-size: 1.0em;
  width: 80%;
  margin: auto;
<<<<<<< HEAD
  margin-top: 0;
  color: #fff;
  margin-top: 50px;
=======
  color: #fff;
  margin-top: 35px;
  padding-bottom: 20px;
>>>>>>> 45073695956007eb2ced745ff0816a208f57c5e8
}
