/*General Page Syling*/
body {
  background-color: white;
}

/*Title Header*/
.header {
  background-color: lightblue;
  position: fixed;
  padding-bottom: 25px;
  top: 0px;
  height: 50px;
  border: 1px solid black;
  width: 100%;
}

/*Login Field*/
.login{
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  list-style-type: none;
  text-align: center;
  background-color: lightblue;
  border: 5px solid black;
}

.login ul{
  list-style-type: none;
}

.login h2, h1{
  text-align: center;
}

/*Registration*/
.register {
  text-align: center;
}
