.insta-pic .pics div{
  height: 1000px;
  width: 1000px;
  background-color: blue;
  display: inline;


}

.insta-pic .pics div .one{

  height: 1000px;
  width: 1000px;
  background-color: blue;
  display: inline;
  border: 50px solid red;

}

body {

  background-color: #0066B1;
}

table {

  height: 80%;
  width: 100%;
  display: inline;
  color: white;
  border: 2px solid white;
}

table div {
  height: 300px;              /*creates a table with relative position*/
  width: 300px;
  color: white;
  margin: 20px;


}

td div img {

 /* used padding to arrange images into correct position.*/
/*  left: 35px;*/
padding-left: 35px;
}

td div p {
   /*same principle as the images*/
  padding-top: -10px;
  padding-left: 40px;
  display: inline;
  /*top: 210px;
  left: 40px;*/
}

td div .com {    /*comments work the same as the images and paragraphs*/
  display: inline;
  /*padding-top: 210px;
  padding-left: 160px;*/
  /*top: 210px;
  left: 160px;*/
}
