<link rel = "stylesheet" href = "\CSS\image.css">

<div class="saved">
  <h1>Saved Searches</h1>
  <ul class="searches">
    {{#each profile.savedSearches}}
      <div class="row">
        <form action="" method="post">
          <li><a href='#'>cats</a></li> {{!this.savedSearches}}
          <input class="button" type="submit" name="submit" value="X">
        </form>
      </div>
    {{/each}}
  </ul>
</div>

<form action="" method="post">
  <div class="search">
    <input class="SearchBox" type="text" name="query" placeholder="Search..." required>
    <input class="button" type="submit" name="submit" value="Search">
  </div>
</form>

<div class="border"> </div>

{{! post to save the search }}
<form action="" method="post">
  <div class="Results">
    {{#if tag }}
      <h2>Results for: {{tag}}</h2>
      <input class="button" type="submit" name="save" value="Save">
    {{/if}}
  </div>
</form>

{{> images }}
