<div class="searchhtml">
  <div class="saved">
    <h1>Saved Searches</h1>
    <ul class="searches">
      <li><a href='#'>#big cats</a></li>
      <li><a href='#'>#small cats</a></li>
      <li><a href='#'>#red cats</a></li>
      <li><a href='#'>#blue cats</a></li>
      <li><a href='#'>#dog cats</a></li>
      <li><a href='#'>#cats cats</a></li>
    </ul>
  </div>

  <form action="" method="post">
    <div class="search">
      <input class="SearchBox" type="text" name="query" placeholder="Search..." required>
      <input class="button" type="submit" name="submit" value="Search">
    </div>
  </form>

  <div class="border"> </div>

  <div class="Results">
    <h2>Search Results</h2>
  </div>

  <div class="content">
    <div class="squeeze">
      <div class="box-wrap clear">
        <div class="box">
          <img src="http://placehold.it/300x200" />
          <div class="group-btn lk-clear">
              <button class="btn accent-1 pull--left">Love it!</button>
              <button class="btn accent-1 pull--right">Hate it!</button>
          </div>
        </div>
        <div class="box">
          <img src="http://placehold.it/300x200" />
          <div class="group-btn lk-clear">
            <button class="btn accent-1 pull--left">Love it!</button>
            <button class="btn accent-1 pull--right">Hate it!</button>
          </div>
        </div>
        <div class="box">
          <img src="http://placehold.it/300x200" />
          <div class="group-btn lk-clear">
            <button class="btn accent-1 pull--left">Love it!</button>
            <button class="btn accent-1 pull--right">Hate it!</button>
          </div>
        </div>
        <div class="box">
          <img src="http://placehold.it/300x200" />
          <div class="group-btn lk-clear">
            <button class="btn accent-1 pull--left">Love it!</button>
            <button class="btn accent-1 pull--right">Hate it!</button>
          </div>
        </div>
        <div class="box">
          <img src="http://placehold.it/300x200" />
          <div class="group-btn lk-clear">
            <button class="btn accent-1 pull--left">Love it!</button>
            <button class="btn accent-1 pull--right">Hate it!</button>
          </div>
        </div>
        <div class="box">
          <img src="http://placehold.it/300x200" />
          <div class="group-btn lk-clear">
            <button class="btn accent-1 pull--left">Love it!</button>
            <button class="btn accent-1 pull--right">Hate it!</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
