<link rel = "stylesheet" href = "\CSS\image.css">

<div class="saved">
  <h1>Saved Searches</h1>
  <form class="user-form" action="/search/add" method="post">
    <input type="hidden" name="_id" value="{{user._id}}">
  </form>

  {{#if user.tags}}
    {{#each user.tags}}
      <form action="/search/remove" method="post">
        {{this}}
        <input type="hidden" name="tag" value="{{this}}">
        <button type="submit">Delete</button>

      </form>
    {{/each}}
  {{/if}}

</div>

<div class="search">
  <form action="" method="post">
    <input class="SearchBox" type="text" name="query" placeholder="Search..." required>
    <input class="button" type="submit" name="submit" value="Search">
  </form>

  {{#if feed}}
  <!-- this will be a form to submit to the save search route -->
    <form class="" action="/user/search/save" method="post">
      <button class="button" type="submit" name="">Save</button>
    </form>
  {{/if}}
</div>

<div class="border"> </div>

<div class="Results">
  <h2>Search Results</h2>
</div>


{{> images }}
