* {
  margin: 0, 0, 0, 0;
  padding: 0, 0, 0, 0;
}
html {
  height: 100%;
  margin: 0;
}
/*General Page Syling*/
body {
  background-color: white;
  height: 100%;
  margin: 0;  /*gets rid of default margins/padding on page*/
  padding: 0;
}

/*Title Header*/
.title {
  -webkit-margin-after: 0;
  margin-top: 0;
  padding-top: 120px;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: none;
  font-size: 1em;
  background-color: #444;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

/*General*/
.box-outer {
  width: 100%;
  height: 100%;
}

.box {
  top: 50%;
  margin-top: -250px;
  height: 500px;
  position: relative;
  text-align: center;
  background-color: #444;
}

/*Buttons*/
.buttons{
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 70%;
}

.buttons a{
  background-color: #444;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 38px;
  border: 1px solid #888;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  width: 200px;
}

.login {}

.box a:hover {
  background-color: #005f5f;
}

.box a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

/*Box Text*/
.greeting{
  -webkit-margin-after: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.0em;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
  color: #fff;
  margin-top: 0;
}
