/* *****************/
/* Search page CSS */
/* *****************/

  .Results {
    margin-top: 10px;
  }

  /* saved searches title & div formatting */
  .saved {
    float: left;
    width: 180px !important;
    margin: 10px 10px 0 10px; /*top, right, bottom, left */
    font-size: 12px;
    height: 100%;
  }

  /* saved searches item formatting */
  .searches a{
    text-decoration: none;
    margin-left: 10px;
    line-height: 1.4;
    font-size: 20px;
    color: black;
  }

  /* saved searches border*/
  .border {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 2px;
    margin-left: 183px;
    height: auto;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #444;
  }

  /* added borded to content so border extends with content */
  .content {
    margin-left: 183px;
    border-left: solid;
    border-width: 2px;
    height: 100%;
  }

  /* search bar & button */
.search {
    float: right;
    width: 274px;
    margin-top: 10px;
    margin-right: 10px;
  }

.SearchBox  {
  padding:8px 15px;
  background:#E3E3E3;
  border:0px solid #dbdbdb;
}
.button {
  padding:8px 15px;
  left:-8px;
  background-color:#444;
  color:#fafafa;
  transition: .3s background-color;
  border: none;
}
.button:hover  {
  background-color:#005f5f;
}
